@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<link rel="stylesheet" href="~/css/infohistoria.css" asp-append-version="true" />

<!-- Imagen de cabecera -->
<img src="~/im/infohistoria1.png" class="img-fluid mx-auto d-block" alt="..." width="500" height="500">

<!-- Sección Nosotras -->
<div class="container mt-5">
    <h1 class="text-center" style="color: #6F4C3E;">Nosotras</h1>
</div>

<div class="container mt-4">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/im/infogrupo.png" class="img-fluid rounded-start" alt="grupo">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color: #6F4C3E;">HISTORIA</h5>
                    <p class="card-text">
                        Esta es una empresa creada por Nicole González y Camila Núñez para conectar a profesionales en diversas áreas y facilitar su acceso a oportunidades laborales.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Sección Misión y Visión -->
<div class="container mt-5">
    <h1 class="text-center" style="color: #6F4C3E;">Nuestra Misión y Visión</h1>
</div>

<div class="container mt-4">
    <div class="card mb-3">
        <div class="row g-0">
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title" style="color: #6F4C3E;">Misión</h5>
                    <p class="card-text">
                        Nuestra misión es ofrecer una plataforma efectiva que conecte a profesionales con las oportunidades adecuadas, promoviendo el crecimiento y desarrollo en sus respectivas carreras.
                    </p>
                    <h5 class="card-title" style="color: #6F4C3E;">Visión</h5>
                    <p class="card-text">
                        Aspiramos a ser el referente principal en la conexión de talentos con empleadores, creando una comunidad vibrante y en constante evolución.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <img src="~/im/infomisionvision.png" class="img-fluid rounded-start" alt="mision y vision">
            </div>
        </div>
    </div>
</div>
