body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

.admin-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

    .button-container a {
        padding: 10px 15px;
        text-decoration: none;
        color: white;
        border-radius: 5px;
    }

.q {
    background-color: #3498db;
}

.w {
    background-color: #e67e22;
}

.e {
    background-color: #2ecc71;
}

.f {
    background-color: #e74c3c;
}

.dashboard-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.dashboard-item {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 0 10px;
}

.chart-container {
    display: flex;
    flex-wrap: wrap;
}

.chart-item {
    background-color: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    margin: 10px;
    min-width: 300px;
}
